* {
    padding: 0;
    margin: 0;
}
ul {
    width: 800px;
    margin: auto;
    list-style-type: none;
    overflow: hidden;
}
ul li {
    display:inline;
    float:left;
}
ul .item {
    display: none;
    position: relative;
}
ul .active {
    opacity: 1;
    display: inline;
}
ul .fade-out {
    -webkit-transition: 0.6s ease-in-out opacity;
    -moz-transition: 0.6s ease-in-out opacity;
    -o-transition: 0.6s ease-in-out opacity;
    transition: 0.6s ease-in-out opacity;

    opacity: 0;
}

.slider-bullets div {
    border: none;
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: #CCCCCC;
    font-size: 0;
    margin: 2px 9px;
    cursor: pointer;
    border-radius: 11px;
    box-shadow: inset 0 1px 3px #666666;
}

.active-bullet {
    background-color: #53868b;
}