<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Taskit!</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js"></script>

    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<h1 class="task-title">Task it!</h1>
<div id="tasks-container">
    <p id="error-handler" style="display:none;">A task should not be empty!</p>
    <div id="task-editor-container">
        <textarea id="task-editor" rows="4" cols="50" placeholder="Type a task here..."></textarea>
        <button id="btn-add-task">Add</button>
    </div>
    <div id="tasks-list"></div>
</div>

<script id="tasks-tpl" type="text/template">
    <% _.each(tasks, function(task){ %>
        <div class="task">
            <textarea class="task-content"><%= task.task %></textarea>
            <button class="btn-save" data-id="<%= task.id %>">Save</button>
            <button class="btn-delete" data-id="<%= task.id %>">Delete</button>
        </div>
    <% }); %>
</script>

<!-- Scripts need to be at the end for templating ! -->
<script src="js/models/task.js"></script>
<script src="js/collections/tasks.js"></script>
<script src="js/views/tasks.js"></script>
<script src="app.js"></script>
</body>
</html>