.title {
    display: inline-block;
    font-size: 2em;
    color: white;
    font-weight: bold;
    min-width: 230px;
}
.description {
    text-align: justify;
}
.topbar {
    background-color: black;
}

body {
    font-family: Sans-serif, serif;
    font-size:100%;
    background-color: white;
}

h1 {
    padding:0;
    color:#fff;
    text-shadow:1px 1px 1px #aaa;
    margin: 1em;
}
h2 {
    background-color: #aaaaaa;
    color:#fff;
    margin:0;
    padding:4px;
}
footer {
    margin-top: 20px;
    text-align: center;
}
footer > button {
    width: 200px;
}
#menu {
    background:#444;
}
#menu ul, #menu li {
    list-style-type:none;
    margin:0;
    padding:0;
}

#menu li {
    float:left;
    text-align:center;
}
#menu a {
    display:block;
    color:#fff;
    border-bottom:1px;
    text-decoration:none;
    line-height:200%;
    padding:0 2em;
}
#menu a:hover {
    background:#222;
}

#menu {
    width:100%;
    overflow:auto;
}

@media screen and (min-width: 1024px) {
    #main {
        width:70%;
        clear:none;
    }
    #aside {
        width:30%;
        clear:none;
    }
}

@media screen and (max-width: 640px) {
    #menu a {
        display:block;
    }
    #menu li {
        float:none;
        width:100%;
    }
    #main, #aside, #menu {
        clear:both;
        width:100%;
    }
    footer > button {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    img {
        width:100%;
    }
}

.articles {
    text-align: center;
}
